.inspSection {
  composes: inspSection from '../../../styles/shared.module.css';
}

.inspH {
  composes: inspH from '../../../styles/shared.module.css';
}

.fld {
  composes: fld from '../../../styles/shared.module.css';
}

.btn {
  composes: btn from '../../../styles/shared.module.css';
}
